aside { background: #fff; }

a { text-decoration: none; color: #8E8E8E; }

.banner { height: 6.625rem; margin-top: 0.5625rem; text-align: center; padding-top: 1.75rem; background: url("../images/bannerbg.png"); background-size: 100%; color: #fff; font-size: 0.90625rem !important; vertical-align: middle; line-height: 1.2em !important; }
.banner:after { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.banner span { display: inline-block; vertical-align: middle; }

.numBrdr { *zoom: 1; border-top: 0.03125rem solid #EAEAEA; border-bottom: 0.03125rem solid #EAEAEA; }
.numBrdr:after { content: ""; display: table; clear: both; }
.numBrdr dl { float: left; width: 25%; box-sizing: border-box; text-align: center; font-size: 0.65625rem; border-right: 0.03125rem solid #EAEAEA; height: 3.84375rem; }
.numBrdr dl:last-child { border-right: 0; }
.numBrdr dl dt { margin-top: 1.03125rem; }
.numBrdr dl dd { font-size: 0.66594rem; color: #F5A623; margin-top: 0.25rem; }
